*{
    margin: 0;
    padding: 0;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}
html,body{
    background: whitesmoke;
    height: 100%;
}

.main_container{
    display: flex;
    height: 100%;
}

.map{
    width: 100%;
}

.sidenav{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    text-align: center;
    justify-content: flex-start;
    background: #D0DD97;
    border-right: rgb(70, 196, 70);
}

.logo{
}
.logo img{
    width: 100%;
    height: 100%;
}

.sidenav ul{
    list-style: none;
}

.sidenav li a{
    text-decoration: none;
    padding: 15px 0;
    display:block;
    color: white;
}

.sidenav li a:hover{
    color:#658361;
}